<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lobby</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <h1>AllChat</h1>

    {% if request.user.is_authenticated %}
        <p>Welcome {{request.user}}</p>
        <a href="{% url 'logout' %}" class="btn btn-dark btn-block btn-sm m-1">Logout</a>
        <a href="{% url 'lobby' %}" class="btn btn-dark btn-block btn-sm m-1">Chat</a>
        <a href="{% url 'change_password'%}" class="btn btn-dark btn-block btn-sm m-1">Update Account</a>
        
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-dark btn-block btn-sm m-1">Login</a>
        <a href="{% url 'register' %}" class="btn btn-dark btn-block btn-sm m-1">Register</a>
    {% endif %}

</body>
</html>