<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css'%}">

</head>
<body>
    <ul>
        <li>
          <input type="checkbox" checked/>
          <div classname="animation-text">A</div>
        </li>
        <li>
          <input type="checkbox" id="L1"/>
          <div classname="animation-text">L</div>
        </li>
        <li>
          <input type="checkbox" id="L2"/>
          <div classname="animation-text">L</div>
        </li>
        <li>
          <input type="checkbox" id="C"/>
          <div classname="animation-text">C</div>
        </li>
        <li>
          <input type="checkbox" id="H"/>
          <div classname="animation-text">H</div>
        </li>
        <li>
          <input type="checkbox" id="A"/>
          <div classname="animation-text">A</div>
        </li>
        <li>
          <input type="checkbox" id="T"/>
          <div classname="animation-text">T</div>
        </li>
      </ul>
      <a href="{% url 'lobby' %}" class="start-chat">Start Chatting</a>
      <section class="nav">
    {% if request.user.is_authenticated %}
        <p class="welcome">Welcome, {{request.user}}</p>
        <a href="{% url 'logout' %}" class="logout">Logout</a>
        <br/>
        <a href="{% url 'change_password'%}" class="update-account">Update Account</a>
        
    {% else %}
        <a href="{% url 'login' %}" class="login">Login</a>
        <br/>
        <a href="{% url 'register' %}" class="register">Register</a>
    {% endif %}
      </section>
      <script type="text/javascript">
          function glowTimeL1(){
            try {
            document.getElementById('L1').checked = true;
            }catch(err){}     
        }
        setTimeout(glowTimeL1, 500)

        function glowTimeL2(){
            try {
            document.getElementById('L2').checked = true;
            }catch(err){}     
        }
        setTimeout(glowTimeL2, 1000)

        function glowTimeC(){
            try {
            document.getElementById('C').checked = true;
            }catch(err){}     
        }
        setTimeout(glowTimeC, 1500)

        function glowTimeH(){
            try {
            document.getElementById('H').checked = true;
            }catch(err){}     
        }
        setTimeout(glowTimeH, 2000)

        function glowTimeA(){
            try {
            document.getElementById('A').checked = true;
            }catch(err){}     
        }
        setTimeout(glowTimeA, 2500)

        function glowTimeT(){
            try {
            document.getElementById('T').checked = true;
            }catch(err){}     
        }
        setTimeout(glowTimeT, 3000)
      </script>

</body>
</html>