
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lobby</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'lobby.css'%}">

</head>
<body>
    <section class="welcome">

        {% if request.user.is_authenticated %}
        <p>Welcome, {{request.user}}</p>
        {% endif %}
        <a href="{% url 'home' %}" class="btn btn-dark btn-block btn-sm m-1">Home</a>
    </section>
    
        <ul>
            <li>
            <input type="checkbox" checked />
            <div classname="animation-text">A</div>
            </li>
            <li>
            <input type="checkbox" id="L1"/>
            <div classname="animation-text">L</div>
            </li>
            <li>
            <input type="checkbox" id="L2"/>
            <div classname="animation-text">L</div>
            </li>
            <li>
            <input type="checkbox" id="C" />
            <div classname="animation-text">C</div>
            </li>
            <li>
            <input type="checkbox" id="H" />
            <div classname="animation-text">H</div>
            </li>
            <li>
            <input type="checkbox" id="A" />
            <div classname="animation-text">A</div>
            </li>
            <li>
            <input type="checkbox" id="T" />
            <div classname="animation-text">T</div>
            </li>
        </ul>


 

    <section class="chat-box">
        <form id="form">
            <input type="text" name="message" placeholder="Enter Text Here..."/>
        </form>
        <section id="messages"></section>
    </section>


    <script type="text/javascript">

        function glowTimeL1(){
            try {
            document.getElementById('L1').checked = true;
            }catch(err){}     
        }
        setTimeout(glowTimeL1, 500)

        function glowTimeL2(){
            try {
            document.getElementById('L2').checked = true;
            }catch(err){}     
        }
        setTimeout(glowTimeL2, 1000)

        function glowTimeC(){
            try {
            document.getElementById('C').checked = true;
            }catch(err){}     
        }
        setTimeout(glowTimeC, 1500)

        function glowTimeH(){
            try {
            document.getElementById('H').checked = true;
            }catch(err){}     
        }
        setTimeout(glowTimeH, 2000)

        function glowTimeA(){
            try {
            document.getElementById('A').checked = true;
            }catch(err){}     
        }
        setTimeout(glowTimeA, 2500)

        function glowTimeT(){
            try {
            document.getElementById('T').checked = true;
            }catch(err){}     
        }
        setTimeout(glowTimeT, 3000)
        


        let url = `ws://${window.location.host}/ws/socket-server/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)

            if(data.type === 'chat'){
                let messages = document.getElementById('messages')
                console.log(messages)


                messages.insertAdjacentHTML('beforeend', `<section class="messages-in-box">
                                        <p><form method="delete">
                                            &nbsp;
                <button formmethod="delete"type="submit" value="${data.message}">X</button>&nbsp;<p class="user-in-message">${data.username}</p>: ${data.message}</p>
                                    
                                    </section>
                                    
            </form>`)
            }
        }

        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value 
            chatSocket.send(JSON.stringify({
                'message':message
            }))
            form.reset()
        })

    </script>
</body>
</html>