<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login/Register</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <style>
        .login--wrapper {
            display: flex;
            align-items: center;
            height: 80vh;
            justify-content: center;
        }

        .form {
            width: 500px;
        }
    </style>

</head>
<body>
    <h1>AllChat</h1>

    <div class='container'>
        <div class='login-wrapper'>
            {% if page == 'login' %}
            <form method="post" class='form'>
                {% csrf_token %}
                <h2>Login</h2>
                <h4>Login to chat</h4>
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" name='username' id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name='password' id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <p>Don't have an account? <a href="{% url 'register' %}"> Register</a></p>
            </form>
            {% else %}
                <form method="post">
                    <h2>Register</h2>
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endfor %}
                    <div id="passwordHelpBlock" class="form-text">
                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <p>Already have an account? <a href="{% url 'login' %}"> Login</a></p>

                </form>
            {% endif %}
        </div>
    </div>
</body>
</html>