* {
  margin:0;
  padding:0;
}

html {
  background-color: grey;
}

.header {
  text-align:center;
}
.home {
  text-align:center;
}
.footer {
  text-align:center;
}


.room {
  background-color: white;
  height: 500px;
  width: 800px;
}
.chat-box {
  background-color: rgb(202, 191, 191);
  height: 150px;
}
